.pageContainer {
  text-align: center;
}

.headerContainer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.searchBarContainer {
  margin-left: 20px;
}

.loadingContainer {
  height: 10px;
  margin-top: 10px;
}

.cardContainer {
  margin: 20px;
  max-width: 400px;
  width: calc(100% - 40px);
}

@media screen and (min-width: 440px) {
  .cardContainer {
    margin-left: calc(50% - 200px);
  }
}
